:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .tabs-strip {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--p-300);
        gap: 4px;
        padding-inline: 4px;

        .tab {
            display: flex;
            border: 1px solid var(--p-300);
            border-radius: 4px 4px 0 0;
            height: 2em;
            align-items: center;
            justify-content: center;
            padding-inline: 8px;
            min-width: 4em;
            border-bottom: 0px;

            &.enabled {
                background: var(--n-0);
                cursor: pointer;
            }
            &.disabled {
                opacity: 0.5;
                background: var(--n-100);
                color: var(--n-400);
                cursor: not-allowed;
                pointer-events: none;
            }
            &.selected {
                background: var(--p-100);
                color: var(--p-500);
                font-weight: 600;    
            }
        }
    }

    .tab-content {
        flex-grow: 1;
    }
}