:host {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "top-bar top-bar"
        "insured-header insured-header"
        "steps-tabs info-tabs";

    app-top-bar {
        grid-area: top-bar;
    }
    app-insured-header {
        grid-area: insured-header;
    }
    app-toolbar {
        position: absolute;
        height: 100px;
        width: 400px;
        background: red;
        bottom: 0;
        width: 50%;
    }

    app-process-step-tabs {
        grid-area: steps-tabs;
    }
    .info {
        grid-area: info-tabs;
        background: green;
    }
}